{{ define "main" }}

<style>
#hero-banking-equipment {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482570/Femac/banking-equipment-for-finance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.accent-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smart-alarm-systems-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482571/Femac/keypad-access-bank.jpg");
}

.video-surveillance-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482567/Femac/video-companies.jpg");
}

.access-control-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482568/Femac/access-control-for-finance.jpg");
}

.drive-thru-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482570/Femac/financial-drive-thru-security.jpg");
}

.vaults-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482571/Femac/vault-services.jpg");
}

.service-contracts-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482572/Femac/service-contracts.jpg");
}

@media screen and (min-width:992px) {
.accent-photo {
    background-size: contain;
    background-position: top;
}

}

</style>

<section id="hero-banking-equipment" class="flex flex-wrap">
    <div class="py-24 md:py-56"></div>
</section>

<section id="for-business-title" class="flex flex-wrap py-12">
    <div class="flex flex-wrap w-11/12 mx-auto">
        <h1 class="w-full font-Monts font-bold text-center text-2xl md:text-4xl text-black leading-tight pb-8">Smart Electronic and Physical Security Solutions for Financial Institutions Since 1990.</h1>
        <div class="xl:w-full flex flex-wrap mx-auto">
            <div class="xl:w-1/6 text-center pb-6 mr-2 xl:mr-0">
                <a href="#smart-alarm-systems" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Alarms</a>
            </div>
            <div class="xl:w-1/6 text-center pb-6 mr-2 xl:mr-0">
                <a href="#video-surveillance" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Video Surveillance</a>
            </div>
            <div class="xl:w-1/6 text-center pb-6 mr-2 xl:mr-0">
                <a href="#access-control" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Access Control</a>
            </div>
            <div class="xl:w-1/6 text-center pb-6 mr-2 xl:mr-0">
                <a href="#drive-thru" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Drive-Thru</a>
            </div>
            <div class="xl:w-1/6 text-center pb-6 mr-2 xl:mr-0">
                <a href="#vaults" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Vaults</a>
            </div>
            <div class="xl:w-1/6 text-center pb-6 mr-2 xl:mr-0">
                <a href="#service-contracts" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Service Contracts</a>
            </div>
        </div>
    </div>
</section>

<section id="smart-alarm-systems" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-color-f1edec pt-10 pb-12 flex-col-reverse lg:flex-row">
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-5 leading-tight">Smart Alarm Systems<i class="pl-2 fas fa-bell"></i></h3>
            <p class="font-Quat text-lg pb-8">DMP is our choice for providing your Financial Institution with open architecture security design that integrates easily with other applications and equipment. Our Alarm system solutions offer several bank audit features with multiple reporting functions that offer valuable data for detailed audit trails, security evaluations, event reporting, and accountability unique to banks and credit unions. These Security systems have built in Access Control and Fire integration capabilities to save money on Monitoring and Service Contracts. Z-Wave Automation can also be integrated to save money on energy costs by using programmable Thermostats and Light controls. Whether you're a single branch operation or an enterprise sized institution you can have at-a-glance control of all your branches, ATM's, or corporate offices.Thousands of Financial institutions use DMP for it's forward and backwards compatibility to ensure a lasting secure investment.</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Get a Smart Alarm System</a>
        </div>
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo smart-alarm-systems-photo">
            <div class="py-56"></div>
        </div>
    </div>
</section>

<section id="video-surveillance" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-white pt-10 pb-8">
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo video-surveillance-photo">
            <div class="py-48"></div>
        </div>
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-5 leading-tight">Video Surveillance<i class="pl-2 fas fa-video"></i></h3>
            <p class="font-Quat text-lg pb-8">Femac Security Solutions partners with the most respected Video Surveillance companies in the industry. We can provide quality HD and IP camera systems and even use your existing infrastructure in many cases to cut costs on installation. Our VMS software will allow you to manage all of your branch NVR's and cameras from one location. Get tough on fraud, manage your branch's customer service, and improve marketing using video analytics to collect important metrics. Event search is fast and easy, saving you time and costs involved in evidence gathering. Our systems can help you diminish cybersecurity threats when installed properly using best security practices.</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Get a Video Surveillance System</a>
        </div>
    </div>
</section>

<section id="access-control" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-color-f1edec pt-10 pb-16 flex-col-reverse lg:flex-row">
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-4 leading-tight">Access Control<i class="pl-2 fas fa-key"></i></h3>
            <p class="font-Quat text-lg pb-8">Our Access Control solutions allow you to manage, audit, and control any facility or building. With our stand alone or Integrated systems you can prevent unauthorized visitor access to sensitive areas, manage employee access and credentials, determine where contractors and vendors are allowed to go, and do all of this based on parameters or schedules you set. Ease of use with our Virtual Keypad App makes it possible to program, add, and delete employees, visitors, and vendors in an instant remotely or we can manage it for you. We have several options to offer, but with our XR550 panel you can combine Access Control, Burglary, and Fire to save time and money on Monitoring Fees and Maintenance!</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Get Access Control</a>
        </div>
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo access-control-photo">
            <div class="py-32"></div>
        </div>
    </div>
</section>

<section id="drive-thru" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-white pt-10 pb-16">
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo drive-thru-photo">
            <div class="py-32"></div>
        </div>
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-5 leading-tight">Drive-Thru<i class="pl-2 fas fa-car"></i></h3>
            <p class="font-Quat text-lg pb-8">We offer a full suite of Drive-Thru options. Pneumatic Tube systems, with or without 2 way video, Deal Drawers and Vision Windows, Drive Up Depositories, Audio/Video systems, Pneumatics for handling ATM cash securely and safely, and more. Let us show you how to cut operational costs in your Drive Thru and recoup your investment in 12 to 18 months at the same time you're enhancing your customers experience!</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Get a Drive-Thru Solution</a>
        </div>
    </div>
</section>

<section id="vaults" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-color-f1edec pt-10 pb-16 flex-col-reverse lg:flex-row">
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-4 leading-tight">Vaults & Equipment<i class="pl-2 fas fa-lock"></i></h3>
            <p class="font-Quat text-lg pb-8">From new construction to remodeling or upgrading, we can provide the right equipment solution. If you're building a new facility and need a complete Modular Vault with a Class 1,2,or 3 Vault door with Time Locks and dual Combination Locks we can handle it. Need Safe Deposit Boxes of any size, we've got them. Teller Lockers, Cash Safes with Time Delay, Teller Under Counter equipment, even Depositories and "Saturday Banking" Safes with Depository included are in our equipment arsenal. Fire Doors, Fire Files, document and data storage equipment and more are a phone call away. If you need it to secure cash or sensitive files and information, we can help.</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Get a Vault Solution</a>
        </div>
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo vaults-photo">
            <div class="py-32"></div>
        </div>
    </div>
</section>

<section id="service-contracts" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-white pt-10 pb-16">
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo service-contracts-photo">
            <div class="py-32"></div>
        </div>
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-5 leading-tight">Service Contracts<i class="pl-2 fas fa-file-contract"></i></h3>
            <p class="font-Quat text-lg pb-8">We have some of the most highly trained Installers and Service Technicians in the industry. They are trained to work on the wide variety of products we sell and on most of the electronic and physical security products of our competitors. Our average technician has over 18 years with our company! They are what makes Femac Security Solutions your best choice. Qualified, experienced, personable, caring people that put you first.</p>

            <p class="font-Quat text-lg pb-8">Our Time and Material rates are among the most competitive in the industry, but we also offer Service Contracts that can be customized to meet your needs. Whether you want an all inclusive contract with special rates or or some time and material and some covered by contracts during certain times of the day or week, we have got you covered!</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Learn about Service Contracts</a>
        </div>
    </div>
</section>

<section id="contact-form" class="flex flex-wrap py-20">
    <h2 class="w-full font-Monts font-thin text-center text-4xl">Contact FEMAC Today</h2>
    <form class="w-full lg:w-2/3 flex flex-wrap mx-auto text-center py-16" action="/thank-you" netlify-honeypot="field-for-coolguys" data-netlify-recaptcha="true" name="Banking-Equipment-Request" method="POST" netlify>
        <input type="hidden" name="subject" value="Banking Equipment Request" />
        <div class="flex flex-wrap w-full lg:w-1/2 mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Your Full Name*</label>
            <input name="first-name" type="text" placeholder="First Name" class="w-2/3 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
        </div>
        <div class="flex flex-wrap w-full lg:w-1/2 mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Your Phone Number*</label>
            <input name="phone-number" type="tel" placeholder="Phone" class="w-2/3 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
        </div>
        <input type="text" name="field-for-coolguys" style="display:none" />
        <div class="flex flex-wrap w-full lg:w-2/3 mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Which of our services are you interested in?*</label>
            <select name="service-requested" class="w-2/3 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
                <option name="Alarm Systems">Alarm Systems</option>
                <option name="Video Surveillance">Video Surveillance</option>
                <option name="Access Control">Access Control</option>
                <option name="Drive-Thru">Drive-Thru</option>
                <option name="Vaults">Vaults</option>
                <option name="Service Contracts">Service Contracts</option>
            </select>
        </div>
        <div class="flex flex-wrap w-full mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Contact me by Email</label>
            <input name="email" type="email" placeholder="Email" class="w-2/3 lg:w-1/2 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
        </div>
        <div class="w-full">
            <div class="g-recaptcha" data-sitekey="6Le8hcQUAAAAAAr9l7kaYdG-RSD-jjZFqc8ySU6y"></div>
        </div>
        <input type="submit" value="Contact FEMAC Now" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base mx-auto font-Monts font-bold rounded-lg mt-4 hover:cursor-pointer">
    </form>
</section>

{{ end }}