{{ define "main" }}

<section class="flex h-screen">
  <div class="flex w-full bg-white text-center">
  <div class="w-5/6 mx-auto text-white pt-32">
    <h1 class="text-2xl lg:text-4xl text-black">Your Order has been Cancelled</h1>
    <h2 class="text-lg lg:text-2xl text-black font-thin pb-8">Please try ordering again if you reached this page by mistake.</h2>
    <a href="/" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Return to Home Page</a>
  </div>
  </div>
</section>

{{ end }}