{{ define "main" }}

<style>
#hero-home-security {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482571/Femac/home-security-business.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.accent-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.smart-alarm-systems-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482571/Femac/home-smart-alarm.jpg");
}

.video-cameras-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482567/Femac/video-for-home.jpg");
}

.automation-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482568/Femac/automation-for-home.jpg");
}

.geofencing-photo {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/w_auto,f_auto/v1518482570/Femac/Geofencing.jpg");
}

@media screen and (min-width:992px) {
.accent-photo {
    background-size: contain;
    background-position: top;
}

}

</style>

<section id="hero-home-security" class="flex flex-wrap">
    <div class="py-24 md:py-56"></div>
</section>

<section id="for-business-title" class="flex flex-wrap py-12">
    <div class="flex flex-wrap w-5/6 mx-auto">
        <h1 class="w-full font-Monts font-bold text-center text-2xl md:text-4xl text-black">Protect your Family and Property</h1>
        <h2 class="w-full font-Monts font-light text-center text-lg lg:text-2xl pb-8">With alarm systems, video cameras and automation.</h2>
        <div class="xl:w-full flex flex-wrap mx-auto">
            <div class="xl:w-1/4 text-center pb-6 mr-2 xl:mr-0">
                <a href="#smart-alarm-systems" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Alarms</a>
            </div>
            <div class="xl:w-1/4 text-center pb-6 mr-2 xl:mr-0">
                <a href="#video-cameras" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Video Camera</a>
            </div>
            <div class="xl:w-1/4 text-center pb-6 mr-2 xl:mr-0">
                <a href="#automation" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Automation</a>
            </div>
            <div class="xl:w-1/4 text-center pb-6 mr-2 xl:mr-0">
                <a href="#geofencing" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Geofencing</a>
            </div>
        </div>
    </div>
</section>

<section id="smart-alarm-systems" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-color-f1edec pt-10 pb-16 flex-col-reverse lg:flex-row">
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-5 leading-tight">Smart Alarm Systems<i class="pl-2 fas fa-bell"></i></h3>
            <a href="#contact-form" class="p-3 border border-color-d12912 hover:border-white hover:bg-white text-black text-sm md:text-base font-Monts font-thin">Let us monitor your current system</a>
            <p class="font-Quat text-lg pt-8 pb-6">Our systems can be monitored with wireless technology more securely without a phone line. In addition to protecting your loved ones and property, with our Virtual Keypad App you can operate it virtually anywhere from your Smart Device. Our Virtual Keypad App Also works with Amazon Echo!! You can look in on your family, pets and property with integrated video. We also have a suite of Automation devices you can use to control devices and appliances in your home for convenience, comfort, and energy savings. Integrate Smoke, Heat, and Carbon Monoxide Detectors to wake you up and call the proper authorities automatically 24/7 even when you aren't there. 98% of all False Alarms are caused by operator error. Our exclusive false alarm notification technology greatly reduces that possibility! ALL OF THIS WITH ONE SYSTEM AND ONE APP!</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Get a Smart Alarm System</a>
        </div>
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo smart-alarm-systems-photo">
            <div class="py-32"></div>
        </div>
    </div>
</section>

<section id="video-cameras" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-white pt-10 pb-8 lg:pb-0">
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo video-cameras-photo">
            <div class="py-64"></div>
        </div>
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-5 leading-tight">Video Cameras<i class="pl-2 fas fa-video"></i></h3>
            <p class="font-Quat text-lg pb-8">Wouldn't you like to be able to look in on your home While your not there? You can with any Smartphone or Tablet from anywhere you're connected. Check on your children, pets, a parent under your care, contractors or service vendors, even your shop or storage building. Via our App you can receive real time notifications, video clips, or still shots by email or text. You can even view live or recorded video on up to 8 cameras per location with or without a DVR or NVR and at more than one location! It can be done with one App combining your Alarm, Video, and Automation devices such as a Thermostat or your Video can be stand alone. We can even integrate our Doorbell camera with the system!</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Get a Video Camera System</a>
        </div>
    </div>
</section>

<section id="automation" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-color-f1edec pt-10 pb-16 flex-col-reverse lg:flex-row">
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-4 leading-tight">Automation<i class="pl-2 fas fa-laptop-code"></i></h3>
            <p class="font-Quat text-lg pb-8">With our Virtual Keypad App you can control more than just your Alarm and Video Cameras. You can Lock and Unlock your doors to let a relative or trusted service vendor in and not have to worry about keys when you have an armload to get in the house. You can set your Thermostat to a preset temp to adjust it up or down to save money. Lighting can be programmed to turn on or off at certain times. Z-Wave Automation makes it possible to do these things and more to make your life simpler and more comfortable. In addition to homeowners discounts on insurance for an Alarm System you can get possible discounts from you insurer for having Gas Leak Detectors, Water Leak Detectors, and Temperature Monitoring devices.</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Get Automation</a>
        </div>
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo automation-photo">
            <div class="py-32"></div>
        </div>
    </div>
</section>

<section id="geofencing" class="flex flex-wrap">
    <div class="flex flex-wrap w-full bg-white pt-10 pb-8 lg:pb-0">
        <div class="w-full lg:w-5/12 px-12 mb-8 lg:mb-0 accent-photo geofencing-photo">
            <div class="py-56"></div>
        </div>
        <div class="w-full lg:w-7/12 px-5 md:px-12">
            <h3 class="font-Monts text-3xl font-bold pb-5 leading-tight">Geofencing<i class="pl-2 fas fa-th"></i></h3>
            <p class="font-Quat text-lg pb-8">Another feature of the Virtual Keypad App is "Geofencing". It allows you to create Virtual Fences using the GPS on your phone. The Alarm System recognizes when the fence has been exited or entered triggering a Favorite to activate. For example, a Favorite named "Home" could be activated when the you enter the Geofence around your residence, triggering system features to adjust the thermostat, turn on the lights, and open the garage door as you turn the corner of your street. You could also create a "Not Home" Favorite, triggered when you exit the Geofence, to set back your thermostat, turn off the lights, close the garage door, and lock the entry doors. With up to 20 Geofences you can program it to give you Alerts when the kids get home from school and so much more!</p>
            <a href="#contact-form" class="p-3 bg-black hover:bg-color-d12912 text-white text-sm md:text-base font-Monts font-bold rounded-lg">Get a Geofence</a>
        </div>
    </div>
</section>

<section id="contact-form" class="flex flex-wrap py-20">
    <h2 class="w-full font-Monts font-thin text-center text-4xl">Contact FEMAC Today</h2>
    <form class="w-full lg:w-2/3 flex flex-wrap mx-auto text-center py-16" action="/thank-you" netlify-honeypot="field-for-coolguys" data-netlify-recaptcha="true" name="home-security-request" method="POST" netlify>
        <input type="hidden" name="subject" value="Home Security Request" />
        <div class="flex flex-wrap w-full lg:w-1/2 mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Your Full Name*</label>
            <input name="first-name" type="text" placeholder="First Name" class="w-2/3 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
        </div>
        <div class="flex flex-wrap w-full lg:w-1/2 mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Your Phone Number*</label>
            <input name="phone-number" type="tel" placeholder="Phone" class="w-2/3 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
        </div>
        <input type="text" name="field-for-coolguys" style="display:none" />
        <div class="flex flex-wrap w-full lg:w-2/3 mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Which of our services are you interested in?*</label>
            <select name="service-requested" class="w-2/3 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
                <option name="Alarm Systems">Alarm Systems</option>
                <option name="Video Cameras">Video Cameras</option>
                <option name="Automation">Automation</option>
                <option name="Geofencing">Geofencing</option>
            </select>
        </div>
        <div class="flex flex-wrap w-full mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Contact me by Email</label>
            <input name="email" type="email" placeholder="Email" class="w-2/3 lg:w-1/2 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
        </div>
        <div class="w-full">
            <div class="g-recaptcha" data-sitekey="6Le8hcQUAAAAAAr9l7kaYdG-RSD-jjZFqc8ySU6y"></div>
        </div>
        <input type="submit" value="Contact FEMAC Now" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base mx-auto font-Monts font-bold rounded-lg mt-4 hover:cursor-pointer">
    </form>
</section>

{{ end }}