{{ define "main" }}

<style>
.slide-1 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/b_black,o_80,c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_1920/v1518482568/Femac/video-security-for-your-business.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-2 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/b_black,o_80,c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_1920/v1518482570/Femac/financial-drive-thru-security.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-3 {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/b_black,o_80,c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_1920/v1518482572/Femac/using-your-security-app.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-red-text {
    text-shadow: 1px 2px #222;
}

.since-1990-image {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_640/v1518482572/Femac/security-package.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.business-security-tabbed-box {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_1280/v1518482571/Femac/commerial-security-test.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.security-for-business-title {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/o_20,c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_640/v1518482572/Femac/security-for-business.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.security-for-banks-title {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/o_20,c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_640/v1518482569/Femac/banking-equipment-security.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.security-for-banks-tabbed-box {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_1280/v1518482570/Femac/banking-equipment-for-finance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tab-content-transition {
    transition: .2s;
}

.pneumatic-tube-systems-title {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/o_20,c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_640/v1518482572/Femac/noun_1448161.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pneumatic-tube-systems-tabbed-box {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_1280/v1518482572/Femac/tube-systems-for-bank.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.security-for-home-title {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/o_20,c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_640/v1518482571/Femac/home-solutions-for-security.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.security-for-home-tabbed-box {
    background-image: url("https://res.cloudinary.com/animated-eagle/image/upload/c_fill,g_auto,f_auto/dpr_auto,w_auto/c_limit,w_1280/v1518482571/Femac/home-security-business.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.tns-nav {
    display: none;
}

.tns-outer {
    width: 100%;
}

.tns-outer button {
    display: none;
}

.fa-angle-left {
    top: 40%;
}

.fa-angle-right {
    top: 40%;
}

</style>

<section id="homepage-slider" class="flex flex-wrap relative mx-auto homepage-slider">
    <div id="homepage-slider-images" class="flex flex-wrap mx-auto">
    <div class="flex flex-wrap py-20 lg:pt-40 lg:pb-72 slide-1">
        <div class="flex flex-wrap w-2/3 mx-auto py-2">
            <h1 class="w-full font-Monts font-black text-center lg:text-left text-2xl md:text-4xl text-white">Watch Over Your Business...</h1>
            <h2 class="w-full font-Monts font-black text-center lg:text-left text-2xl md:text-4xl text-color-d12912 slide-red-text">From Anywhere</h2>
        </div>
    </div>
    <div class="flex flex-wrap py-24 lg:pt-24 lg:pb-32 slide-2">
        <div class="flex flex-wrap w-2/3 mx-auto py-2">
            <h1 class="w-full font-Monts font-black text-center lg:text-left text-2xl md:text-4xl text-color-d12912 slide-red-text">Banking Equipment<span class="hidden lg:inline">:</span></h1>
            <ul class="hidden lg:block w-full font-Monts font-black text-3xl text-white pl-12 list-disc">
                <li>Alarm Systems</li>
                <li>Video Surveillance</li>
                <li>Access Control</li>
                <li>Vault Systems</li>
                <li>Drive-Thru</li>
                <li>and more...</li>
            </ul>
        </div>
        <div class="w-full h-2"></div>
    </div>
    <div class="flex flex-wrap py-24 lg:pt-24 lg:pb-32 slide-3">
        <div class="flex flex-wrap w-2/3 mx-auto py-2">
            <h1 class="w-full font-Monts font-black text-center lg:text-left text-2xl md:text-4xl text-color-d12912 slide-red-text">Remotely Control <span class="hidden lg:inline">Your:</span></h1>
            <ul class="hidden lg:block w-full font-Monts font-black text-3xl text-white pl-12 list-disc">
                <li>Security System</li>
                <li>Lights</li>
                <li>Locks</li>
                <li>Thermostat</li>
                <li>and more...</li>
            </ul>
        </div>
        <div class="w-full lg:h-12"></div>
        <div class="w-full lg:h-2"></div>
    </div>
    </div>
    <ul class="controls" id="slider-controls">
        <div class="absolute top-0 left-0 w-1/6 h-full text-center z-50 outline-none">
            <i class="absolute bg-color-d12912 text-white text-2xl lg:text-5xl px-2 py-3 rounded opacity-50 hover:opacity-100 hover:cursor-pointer focus:outline-none fas fa-angle-left"></i>
        </div>
        <div class="absolute top-0 right-0 w-1/6 h-full text-center z-50 outline-none">
            <i class="absolute bg-color-d12912 text-white text-2xl lg:text-5xl px-2 py-3 rounded opacity-50 hover:opacity-100 hover:cursor-pointer focus:outline-none fas fa-angle-right"></i>
        </div>
    </ul>
</section>

<section id="since-1990" class="flex flex-wrap py-12 flex-col-reverse lg:flex-row">
    <div class="w-5/6 lg:w-1/3 mx-auto py-24 since-1990-image">

    </div>
    <div class="w-5/6 lg:w-2/3 mx-auto lg:px-12">
        <h2 class="font-Quat text-xl"><b><i>Since 1990</i>, Femac Security Solutions</b> has provided an unrivaled solutions-oriented approach to service, design, and installation for Financial Institutions, Businesses, and Homeowners throughout Georgia, South Carolina, and North Florida.</h2>
    </div>
</section>

<section id="security-for-business" class="flex flex-wrap pb-20 overflow-hidden">
    <div class="w-5/6 lg:w-1/3 mx-auto text-center py-12 md:py-24 lg:py-40 security-for-business-title">
        <h3 class="font-Monts text-3xl font-bold pb-2">Security for Business</h3>
        <a href="/for-business/" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Learn business security</a>
    </div>
    <div class="flex flex-wrap w-full md:w-5/6 lg:w-2/3 mx-auto lg:relative -mt-5 lg:-mt-0 business-security-tabbed-box">
        <div class="flex flex-wrap mx-5 lg:absolute bottom-0 bg-white">
            <div class="flex flex-wrap w-full text-center">
                <div class="w-full lg:w-1/4 bg-gray-300 border-white border text-base lg:text-sm px-6 py-3 lg:py-1">
                    <a id="alarm-sys-business" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Alarm Systems</a>
                </div>
                <div class="w-full lg:w-1/4 bg-gray-300 border-white border text-base lg:text-sm px-6 py-3 lg:py-1">
                    <a id="video-business" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Video Surveillance</a>
                </div>
                <div class="w-full lg:w-1/4 bg-gray-300 border-white border text-base lg:text-sm px-6 py-3 lg:py-1">
                    <a id="business-access-control" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Access Control</a>
                </div>
                <div class="w-full lg:w-1/4 bg-gray-300 border-white border text-base lg:text-sm px-6 py-3 lg:py-1">
                    <a id="business-automation" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Automation</a>
                </div>
            </div>
            <div id="alarm-sys-business-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Alarm Systems:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Our alarm systems can protect your business by combining Intrusion, Automation, and Access Control with one simple APP....</p>
                <a href="/for-business#smart-alarm-systems" class="text-color-d12912">Learn more</a>
            </div>
            <div id="video-business-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Video Surveillance:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Video will help Identify Criminals, Control Internal Theft, and give you Peace of Mind while you're away.....</p>
                <a href="/for-business#video-surveillance" class="text-color-d12912">Learn more</a>
            </div>
            <div id="business-access-control-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">Access Control:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Control and track who has access to sensitive areas of your business....</p>
                <a href="/for-business#access-control" class="text-color-d12912">Learn more</a>
            </div>
            <div id="business-automation-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Automation:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Automation allows you to control door Locks, Lighting, Thermostats, and more from your Smartphone....</p>
                <a href="/for-business#automation" class="text-color-d12912">Learn more</a>
            </div>
        </div>
    </div>
</section>

<section id="security-for-banks" class="flex flex-wrap pb-20 overflow-hidden">
    <div class="w-5/6 lg:w-1/3 mx-auto text-center py-12 md:py-24 lg:py-40 security-for-banks-title">
        <h3 class="font-Monts text-3xl font-bold pb-2">Banking Equipment</h3>
        <a href="/banking-equipment/" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Learn about banking equipment</a>
    </div>
    <div class="flex flex-wrap w-full md:w-5/6 lg:w-2/3 mx-auto lg:relative -mt-5 lg:-mt-0 security-for-banks-tabbed-box">
        <div class="flex flex-wrap mx-5 lg:absolute bottom-0 bg-white">
            <div class="flex flex-wrap w-full text-center">
                <div class="w-full lg:w-1/5 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="alarm-sys-banking" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Alarm Systems</a>
                </div>
                <div class="w-full lg:w-1/5 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="video-banking" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Video Surveillance</a>
                </div>
                <div class="w-full lg:w-1/5 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="banking-access-control" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Access Control</a>
                </div>
                <div class="w-full lg:w-1/5 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="banking-drive-thru" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Drive-Thru</a>
                </div>
                <div class="w-full lg:w-1/5 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="banking-vault" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Vault Systems</a>
                </div>
            </div>
            <div id="alarm-sys-banking-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Alarm Systems:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Systems designed specifically for Financial Institutions that can easily integrate Alarm, Access Control, Fire Alarm, Video, and other systems to create a more Cost Effective Solution....</p>
                <a href="/banking-equipment#smart-alarm-systems" class="text-color-d12912">Learn more</a>
            </div>
            <div id="video-banking-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Video Surveillance:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Video Systems for the specific needs of Financial institutions that protect against Theft, Fraud, and Liability across multiple branches....</p>
                <a href="/banking-equipment#video-surveillance" class="text-color-d12912">Learn more</a>
            </div>
            <div id="banking-access-control-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">Access Control:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Access Control integrated with Video is a crucial part of maintaining Customer Privacy, Asset Security, and Employee Safety....</p>
                <a href="/banking-equipment#access-control" class="text-color-d12912">Learn more</a>
            </div>
            <div id="banking-drive-thru-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Drive-Thru Security:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Femac can show you how to create a more Personalized Customer Drive-Thru experience, while increasing Efficiency and Cost Savings....</p>
                <a href="/banking-equipment#drive-thru" class="text-color-d12912">Learn more</a>
            </div>
            <div id="banking-vault-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Vault Systems:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Femac offers a full ine of Modular Vaults and Doors, Record Vault Doors, Safe Deposit Boxes, Safes, Cash Lockers,Under Counter, and Night Depositories...</p>
                <a href="/banking-equipment#vaults" class="text-color-d12912">Learn more</a>
            </div>
        </div>
    </div>
</section>

<section id="pneumatic-tube-systems" class="flex flex-wrap pb-20 overflow-hidden">
    <div class="w-5/6 lg:w-1/3 mx-auto text-center py-12 md:py-24 lg:py-40 pneumatic-tube-systems-title">
        <h3 class="font-Monts text-3xl font-bold pb-2">Pneumatic Tube Systems</h3>
        <a href="/pneumatic-tubes/" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Learn about Pneumatics</a>
    </div>
    <div class="flex flex-wrap w-full md:w-5/6 lg:w-2/3 mx-auto lg:relative -mt-5 lg:-mt-0 pneumatic-tube-systems-tabbed-box">
        <div class="flex flex-wrap mx-5 lg:absolute bottom-0 bg-white">
            <div class="flex flex-wrap w-full text-center">
                <div class="w-full lg:w-1/2 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="pneumatic-tube-systems-tab-title" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Pneumatic Tube Systems</a>
                </div>
            </div>
            <div id="pneumatic-tube-systems-tab-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Pneumatic Tube Systems:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Tube Systems provide the Secure, Fast, and Reliable delivery of Medicines, Money, Documents, and more...</p>
                <a href="/pneumatic-tubes/" class="text-color-d12912">Learn more</a>
            </div>
        </div>
    </div>
</section>

<section id="security-for-home" class="flex flex-wrap pb-20 overflow-hidden">
    <div class="w-5/6 lg:w-1/3 mx-auto text-center py-12 md:py-24 lg:py-40 security-for-home-title">
        <h3 class="font-Monts text-3xl font-bold pb-2">Security for Home</h3>
        <a href="/home-security/" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Learn home security</a>
    </div>
    <div class="flex flex-wrap w-full md:w-5/6 lg:w-2/3 mx-auto lg:relative -mt-5 lg:-mt-0 security-for-home-tabbed-box">
        <div class="flex flex-wrap mx-5 lg:absolute bottom-0 bg-white">
            <div class="flex flex-wrap w-full text-center">
                <div class="w-full lg:w-1/4 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="alarm-sys-home-security" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Alarm Systems</a>
                </div>
                <div class="w-full lg:w-1/4 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="video-home-security" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Video Surveillance</a>
                </div>
                <div class="w-full lg:w-1/4 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="automation-home-security" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Automation</a>
                </div>
                <div class="w-full lg:w-1/4 bg-gray-300 border-white border text-base lg:text-sm px-3 py-3 lg:py-1">
                    <a id="geofencing-home-security" class="font-Monts text-color-d12912 hover:opacity-75 hover:cursor-pointer">Geofencing</a>
                </div>
            </div>
            <div id="alarm-sys-home-security-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Alarm Systems:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Our Alarm Systems can protect your home day and night by combining Intrusion,Video, and Automation with one simple APP...</p>
                <a href="/home-security#smart-alarm-systems" class="text-color-d12912">Learn more</a>
            </div>
            <div id="video-home-security-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Video Surveillance:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Video will help you identify intruders, check on your Children and Pets, monitor Package Deliveries and so much more....</p>
                <a href="/home-security#video-cameras" class="text-color-d12912">Learn more</a>
            </div>
            <div id="automation-home-security-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Automation:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">Automation allows you to control door Locks, Lighting, Thermostats, and more from your Smartphone....</p>
                <a href="/home-security#automation" class="text-color-d12912">Learn more</a>
            </div>
            <div id="geofencing-home-security-content" class="opacity-0 h-0 w-0 tab-content-transition">
                <h4 class="font-Monts text-3xl pb-2">About Geofencing:</h4>
                <p class="font-Quat text-lg leading-tight pb-4">With up to 20 Geofences you can program it to give you Alerts when the kids get home from school and so much more!</p>
                <a href="/home-security#geofencing" class="text-color-d12912">Learn more</a>
            </div>
        </div>
    </div>
</section>

<div class="flex flex-wrap bg-gray-100">
  {{ range first 3 (where .Site.Pages "Layout" "blog") }}
  <div class="w-5/6 lg:w-1/3 mx-auto border-2 border-white text-left py-5 lg:py-16 lg:px-12">
            <div class="w-10/12 py-5 lg:py-0 mx-auto">
                {{ if .Params.Featured_image.Blog_featured_image }}
                <a href="{{ .URL }}" class="px-8 hover:opacity-75">
                    <img class="rounded" src="{{ .Site.Params.media.cloudinaryURL }}/c_limit,w_450/{{ .Params.Featured_image.Blog_featured_image }}">
                </a>
                {{ else }}
                <a href="{{ .URL }}" class="px-8 hover:opacity-75">
                    <img class="py-16 rounded" src="{{ .Site.Params.media.cloudinaryURL }}/c_limit,w_450/v1518482569/Femac/FEMAC-Security_Solutions_Main_Logo.png">
                </a>
                {{ end }}
            </div>
                <a href="{{ .URL }}" class="mx-auto no-underline h-home hover:cursor-pointer">
                <h2 class="pb-1 font-Monts text-xl">{{ .Title }}</h2>
                <date class="font-normal font-Monts uppercase text-xs opacity-50">{{ .Date | dateFormat "Jan 2, 2006" }}</date>
                <p class="pt-2 font-Quat text-base">{{ .Params.Excerpt }}</p>
                <button class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg mt-6">Continue Reading</button>
                </a>
    </div>
  {{ end }}
</div>

<div class="flex flex-wrap py-8 testimonial-title-box">
    <h3 class="w-full font-Monts font-black text-center text-4xl text-black">Customer Feedback</h3>
</div>

<section id="testimonial-slider" class="flex flex-wrap bg-gray-200 mx-auto testimonial-slider">
    <div id="testimonial-slider-images" class="flex flex-wrap">
    <div class="flex flex-wrap py-12">
        <div class="flex flex-wrap w-full lg:w-2/3 bg-white mx-auto p-8">
            <blockquote class="w-full font-Quat font-black text-center lg:text-left text-xl text-black leading-tight">"FEMAC has provided our credit union with excellent service and equipment replacement when necessary. When working with vendors, it's comforting to know that when a problem arises you have a company like FEMAC to rely on..."</blockquote>
            <h6 class="w-full font-Monts font-black text-center lg:text-left text-2xl text-color-d12912">Deborah Tuttle <span class="font-thin text-lg">VP Operations | Associated Credit Union</span></h6>
        </div>
    </div>
    <div class="flex flex-wrap py-12">
        <div class="flex flex-wrap w-full lg:w-2/3 bg-white mx-auto p-8">
            <blockquote class="w-full font-Quat font-black text-center lg:text-left text-xl text-black leading-tight">"We had a burglary at our store and winery. We called FEMAC to install an alarm and they suggested WI-FI cameras too. Not only have we not had another break in, but we can watch employees when they come in alone on our phone from anywhere to make sure they are safe..."</blockquote>
            <h6 class="w-full font-Monts font-black text-center lg:text-left text-2xl text-color-d12912">Hue Rainey <span class="font-thin text-lg">Owner | Sautee Nacoochee Winery</span></h6>
        </div>
    </div>
    <div class="flex flex-wrap py-12">
        <div class="flex flex-wrap w-full lg:w-2/3 bg-white mx-auto p-8">
            <blockquote class="w-full font-Quat font-black text-center lg:text-left text-xl text-black leading-tight">"We've been doing business with FEMAC for years and frankly there's no one we'd rather do business with..."</blockquote>
            <h6 class="w-full font-Monts font-black text-center lg:text-left text-2xl text-color-d12912">Michael Chastain <span class="font-thin text-lg">Pres/CEO | United National Bank</span></h6>
        </div>
    </div>
    </div>
    <ul class="controls" id="testimonial-slider-controls">
        <div class="absolute left-0 w-1/6 text-center z-50 outline-none">
            <i class="absolute mt-24 bg-color-d12912 text-white text-2xl lg:text-5xl px-2 py-3 rounded opacity-50 hover:opacity-100 hover:cursor-pointer focus:outline-none fas fa-angle-left"></i>
        </div>
        <div class="absolute right-0 w-1/6 text-center z-50 outline-none">
            <i class="absolute mt-24 bg-color-d12912 text-white text-2xl lg:text-5xl px-2 py-3 rounded opacity-50 hover:opacity-100 hover:cursor-pointer focus:outline-none fas fa-angle-right"></i>
        </div>
    </ul>
</section>

<section id="contact-form" class="flex flex-wrap py-20">
    <h2 class="w-full font-Monts font-thin text-center text-4xl">Be prepared.</h2>
    <h3 class="w-full font-Monts font-thin text-center text-xl">Contact Femac Security Solutions</h3>
    <form class="w-full lg:w-2/3 flex flex-wrap mx-auto text-center py-16" action="/thank-you/" netlify-honeypot="field-for-coolguys" data-netlify-recaptcha="true" name="general-contact" method="POST" netlify>
        <input type="hidden" name="subject" value="Contact from Website" />
        <div class="flex flex-wrap w-full lg:w-1/2 mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Your Full Name*</label>
            <input name="first-name" type="text" placeholder="First Name" class="w-2/3 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
        </div>
        <div class="flex flex-wrap w-full lg:w-1/2 mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Your Phone Number*</label>
            <input name="phone-number" type="tel" placeholder="Phone" class="w-2/3 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
        </div>
        <input type="text" name="field-for-coolguys" style="display:none" />
        <div class="flex flex-wrap w-full mx-auto pb-6">
            <label class="w-full font-Monts text-lg font-bold pb-1">Contact me by Email</label>
            <input name="email" type="email" placeholder="Email" class="w-2/3 lg:w-1/2 font-Monts mx-auto border focus:border-color-d12912 outline-none px-2 py-2" required>
        </div>
        <div class="w-full">
        <div class="g-recaptcha" data-sitekey="6Le8hcQUAAAAAAr9l7kaYdG-RSD-jjZFqc8ySU6y"></div>
        </div>
        <input type="submit" value="Contact FEMAC Now" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base mx-auto font-Monts font-bold rounded-lg mt-4 hover:cursor-pointer">
    </form>


</section>

{{ end }}