{{ define "main" }}
<div class="flex flex-wrap py-32">
    <div class="w-full mx-auto text-center">
        <a id="review-button" href="https://bit.ly/2kXLFZx" style="background-color: #d12912;color: white;text-size: 16px;font-weight:bold;border-radius:10px;padding: 10px;">Write a Review</a>
        <button class="flex flex-wrap w-full bg-black focus:bg-white text-white focus:text-black bg-ranco focus:bg-blk-copy focus:text-ranco focus:outline-none p-3 rounded-bl rounded-br copy-button" data-clipboard-target="#review-button">
            <span class="w-full text-lg font-bold">Copy to clipboard</span>
            <span class="w-full text-black text-sm font-bold pt-3">copied!</span>
        </button>
    </div>
</div>
{{ end }}