{{ define "main" }}

<section id="thank-you" class="flex h-screen">
  <div class="flex w-full bg-white text-center">
  <div class="w-5/6 mx-auto text-white pt-32">
    <h1 class="text-2xl lg:text-4xl text-black pb-4"><span class="bg-color-d12912 p-1 text-white italic">Thank you!</span> your submission has been received.</h1>
    <h2 class="text-lg lg:text-2xl text-black font-thin pb-6">We will contact you shortly about the details of this offer.</h2>
    <a href="/" class="p-3 bg-color-d12912 hover:bg-black text-white text-sm md:text-base font-Monts font-bold rounded-lg">Return to Home Page</a>
  </div>
  </div>
</section>

{{ end }}